<footer class="main-footer">
    <div class="container">
        <div class="links-container">
            <nav class="menu-links">
                <a href="{{ path('about') }}">{{ 'A Propos' | upper }}</a>
                <div class="hidden-xxs">|</div>
                <a href="{{ path('faq') }}">{{ 'FAQ' | upper }}</a>
                <div class="hidden-xxs">|</div>
                <a href="{{ path('contact') }}">{{ 'Contact' | upper }}</a>
            </nav>

            <div class="social-links">
                <a href="#"><div class="icon-facebook"></div></a>
                <a href="#"><div class="icon-twitter"></div></a>
            </div>
        </div>
    </div>
</footer>